flask
flask-cors
langchain
langchain-anthropic
langchain-community
langchain-core
langchain-mistralai
langchain-openai
langchainhub
langgraph
pydantic==1.10.17
pymysql
python-dotenv
redbaron
sqlalchemy